
/*.no-svg .icon:before {*/
    /*background-image: url("../sprite.png");*/
/*}*/


  .icon-1search {
    font-size: 10px;
    display: inline-block;
    background-image: url("../../img/sprite.svg");
    background-repeat: no-repeat;
    /*background-size: 2.5997em 30.4em;*/
      background-position: 0em 0em;
      width: 1.597em;
      height: 1.599em;
  }

  .icon-ask {
    font-size: 10px;
    display: inline-block;
    background-image: url("../../img/sprite.svg");
    background-repeat: no-repeat;
    /*background-size: 2.5997em 30.4em;*/
      background-position: 0em -1.6em;
      width: 2.4013em;
      height: 2.3644em;
  }

  .icon-ask-h {
    font-size: 10px;
    display: inline-block;
    background-image: url("../../img/sprite.svg");
    background-repeat: no-repeat;
    /*background-size: 2.5997em 30.4em;*/
      background-position: 0em -4em;
      width: 2.4013em;
      height: 2.3644em;
  }

  .icon-bell {
    font-size: 10px;
    display: inline-block;
    background-image: url("../../img/sprite.svg");
    background-repeat: no-repeat;
    /*background-size: 2.5997em 30.4em;*/
      background-position: 0em -6.4em;
      width: 2.3998em;
      height: 2.4002em;
  }

  .icon-bell-h {
    font-size: 10px;
    display: inline-block;
    background-image: url("../../img/sprite.svg");
    background-repeat: no-repeat;
    /*background-size: 2.5997em 30.4em;*/
      background-position: 0em -8.9em;
      width: 2.3998em;
      height: 2.4002em;
  }

  .icon-chat {
    font-size: 10px;
    display: inline-block;
    background-image: url("../../img/sprite.svg");
    background-repeat: no-repeat;
    /*background-size: 2.5997em 30.4em;*/
      background-position: 0em -11.4em;
      width: 2.5997em;
      height: 2.2001em;
  }

  .icon-chat-h {
    font-size: 10px;
    display: inline-block;
    background-image: url("../../img/sprite.svg");
    background-repeat: no-repeat;
    /*background-size: 2.5997em 30.4em;*/
      background-position: 0em -13.7em;
      width: 2.5997em;
      height: 2.2001em;
  }

  .icon-companies {
    font-size: 10px;
    display: inline-block;
    background-image: url("../../img/sprite.svg");
    background-repeat: no-repeat;
    /*background-size: 2.5997em 30.4em;*/
      background-position: 0em -16em;
      width: 2.1em;
      height: 2.4em;
  }

  .icon-companies-h {
    font-size: 10px;
    display: inline-block;
    background-image: url("../../img/sprite.svg");
    background-repeat: no-repeat;
    /*background-size: 2.5997em 30.4em;*/
      background-position: 0em -18.4em;
      width: 2.1em;
      height: 2.4em;
  }

  .icon-feed {
    font-size: 10px;
    display: inline-block;
    background-image: url("../../img/sprite.svg");
    background-repeat: no-repeat;
    /*background-size: 2.5997em 30.4em;*/
      background-position: 0em -20.8em;
      width: 2.3876em;
      height: 2.3003em;
  }

  .icon-feed-h {
    font-size: 10px;
    display: inline-block;
    background-image: url("../../img/sprite.svg");
    background-repeat: no-repeat;
    /*background-size: 2.5997em 30.4em;*/
      background-position: 0em -23.2em;
      width: 2.3876em;
      height: 2.3003em;
  }

  .icon-servis {
    font-size: 10px;
    display: inline-block;
    background-image: url("../../img/sprite.svg");
    background-repeat: no-repeat;
    /*background-size: 2.5997em 30.4em;*/
      background-position: 0em -25.6em;
      width: 1.9em;
      height: 2.4em;
  }

  .icon-servis-h {
    font-size: 10px;
    display: inline-block;
    background-image: url("../../img/sprite.svg");
    background-repeat: no-repeat;
    /*background-size: 2.5997em 30.4em;*/
      background-position: 0em -28em;
      width: 1.9em;
      height: 2.4em;
  }



